@model List<BuildMonitor.Models.Feature>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Add new feature", "Create")

@if (Model != null)
{
    <table>
        <tr>
            <th>Feature Name</th>
            <th>Enabled</th>
            <th></th>
            @foreach (var feature in Model)
            {
                <tr>
                    <td>@feature.FeatureName</td>
                    <td>@feature.Enabled</td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = feature.FeatureId})">Delete</a>
                        <a href="@Url.Action("Details", new { id = feature.FeatureId})">Details</a>
                        <a href="@Url.Action("Edit", new { id = feature.FeatureId})">Edit</a>
                    </td>
                </tr>
            }
        </tr>
    </table>
}